<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation=
    "http://java.sun.com/xml/ns/j2ee
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
  

    <servlet>
      <servlet-name>GroovyServlet</servlet-name>
      <servlet-class>groovy.servlet.GroovyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>*.groovy</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>/browse</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>/browseimg</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>/browseill</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>/overview</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>/svcforms</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>/images</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>/texts</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>/collections</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>/indices</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>/place</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>/textdocs</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>/year</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>/placecsv</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>/inscr</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>/llscsv</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>/paymentsGeoJson</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
